{% extends 'base.html.twig' %}

{% block title %}Add a new song | {{ parent() }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div>
{#    <p>TODO: Create albums</p>#}

    <ul>
        {% for track in tracks %}
            <table>
                {{ track.song }} - {{ track.artist }}
            </table>
        {% endfor %}

        {{ "Tracks" | upper }}
    </ul>
</div>
{% endblock %}
